.gallery a[data-fancybox] img {
	height: 120px;
	max-width: 50%;
	display: inherit;
	padding: 2px;
}

.img-container-block {
  text-align: center;
}

.img-container-inline {
  text-align: center;
  display: block;
}

#Ucrania {
	float: right;    
	margin: 0 0 0 0px;
}
